{% extends "base.html" %}

{% block page_content %}

    <div class="container">
        <h2>GUIDE</h2>
        <article>
          <h4>BASIC</h4>
          <p>
              Powinien on zawierać wszystkie niezbędne informacje, takie jak rodzaj wykonywanego ćwiczenia,
              zakres wykonywanych powtórzeń, intensywność, z jaką będą wykonywane, czas przerw między kolejnymi seriami,
              ćwiczeniami, oraz czas całego trwania treningu i jego częstotliwość.
              Nie należy również zapominać o rozgrzewce i rozciąganiu, które są bardzo ważnym elementem każdego treningu
          </p>
        </article>

        <article>
          <h4>Dobór ćwiczeń</h4>
          <p>
              Ilość powtórzeń w serii powinna być uwarunkowana w zależności od naszego celu: <br/>
              - Jeżeli jest nim zwiększenie siły, powinniśmy oscylować w granicy 3-6 powtórzeń, w 3-4 seriach. <br/>
              - W okresie budowanie masy mięśniowej 8-12 powtórzeń w 3-4 seriach. <br/>
              - W przypadku pracowania nad definicją (rzeźbą), nie należy przekraczać 15 powtórzeń, gdyż jest to zbędne
              i narażamy się w większym stopniu na utratę masy mięśniowej spowodowanej regresją ciężaru i deficytem kalorycznym. <br/>  <br/>

              Jeżeli chodzi o łączną sumę wykonywania serii, to początkującym polecam od 9 do 12 serii na małe grupy mięśniowe (bicepsy, triceps oraz barki) oraz od 12 do 16 na duże partie (plecy, uda, klatka piersiowa).
              <br/> <br/>

            Na prostym przykładzie ilość wykonywanych powtórzeń w seriach powinna wyglądać następująco:  <br/>
            Seria I: 12 powtórzeń x 30 kilogramów;  <br/>
            Seria II: 10 powtórzeń x 35 kilogramów;  <br/>
            Seria III: 8 powtórzeń x 40 kilogramów;  <br/>
            Seria IV: 6 powtórzeń x 45 kilogramów.  <br/>
          </p>
        </article>

        <article>
          <h4>Częstotliwość treningu</h4>
          <p>
              Jeżeli chodzi o rozkład, to polecam, aby między treningami była 1-2 dni przerwy. Trening wykonujemy wtedy
              np. poniedziałek, środę, piątek lub poniedziałek, czwartek, sobotę -  oczywiście tak jak mówię, dni dobieramy pod siebie.
              Ważne, aby zachować przerwę i nie wykonywać dwóch treningów bezpośrednio po sobie.
          </p>
        </article>

        <article>
          <h4>Warto wiedzieć!</h4>
          <p>
              Każdy trening poprzedzamy krótką rozgrzewką. <br />
              Przerwy pomiędzy seriami powinny wynosić w zależności od ćwiczonej partii, jak i naszych predyspozycji fizycznych, od 60-120 sek. <br />
              Po każdym treningu należy poświęcić około 10-15 min. na rozciąganie ćwiczonych partii. Pozwoli to dostarczyć do mięśni więcej składników odżywczych oraz tlenu.
              Dzięki temu uchronimy się przed tzw. zakwasami, a jednocześnie przyspieszymy regenerację mięśni! <br />
              Cała sesja treningowa powinna zamknąć się w czasie 45-90 minut. Najlepiej natomiast zakończyć wszystkie ćwiczenia w przeciągu godziny.
              Pamiętaj, że nie czas spędzony na siłowni odgrywa najważniejszą rolę, a intensywność ćwiczeń! <br />
          </p>
        </article>
    </div>

{% endblock %}
