{% extends "base.html" %}

{% block page_content %}

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Weight</th>
            <th>Handle</th>
            <th>Repetitions</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in exercise_array %}
            <tr>
                <td>{{exercise.date}}</td>
                <td>{{exercise.type}}</td>
                <td>{{exercise.weight}}</td>
                <td>{{exercise.handle}}</td>
                <td>{{exercise.repetitions}}</td>
                <td>{{exercise.duration}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<img src="data:image/png;base64,{{ func_r2d }}" alt="graph" height="600" width="1000">
<img src="data:image/png;base64,{{ multi_line_graph }}" alt="graph" height="600" width="1000">


<img src="data:image/png;base64,{{ freq_graph }}" alt="Frequency graph" height="600" width="1000">

<img src="data:image/png;base64,{{ right_and_left_graph }}" alt="aaaa" height="600" width="1000">
<img src="data:image/png;base64,{{ scatter_r2d }}" alt="aaaa" height="600" width="1000">


<img src="data:image/png;base64,{{ bar_graph_r2d }}" alt="graph" height="600" width="1000">
<img src="data:image/png;base64,{{ bar_graph_w2d }}" alt="graph" height="600" width="1000">
<img src="data:image/png;base64,{{ bar_graph_d2d }}" alt="graph" height="600" width="1000">

<img src="data:image/png;base64,{{ histogram_weight }}" alt="graph" height="600" width="1000">
<img src="data:image/png;base64,{{ histogram_duration }}" alt="graph" height="600" width="1000">

<img src="data:image/png;base64,{{ multi_bar_graph_biceps_series }}" alt="graph" height="600" width="1000">



{% endblock %}
